<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <%= link_to root_path do %>
            <span><%= image_tag "logo/nia.png", class: "navbar-brand" %></span>
        <% end %>
    </div>
</nav>