<nav class="navber navbar-light bg-light">
    <a href="#" class="navber-broand">
        <img src="assets/logo/nia.png" alt="" width="60">
    </a>
    <form class="form-inline">
        <input class="form-control mr-sm-2 " type="search" placeholder="何をお探しですか？" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    </form>
</nav>