// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// pages ----------
.navbar-brand {
    width: 60px;
}

.login {
    color: saddlebrown;
    border-color: saddlebrown;
}

.sold-out {
    background-color: #dc3545;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}