// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new.html.erb ----------
.user-new-wrapper {
    text-align: center;
}

main .btn {
    display: block;
    margin: 0 auto;
    width: 350px;
}

main {
    margin-top: 50px;
}
// signup.html.erb -----

// user-page
.user-show {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.user img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
    margin: 30px 0 10px;
  }