// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new.html.erb ----------
.user-new-wrapper {
    text-align: center;
}

.nia_log {
    height: 100px;
}

main .btn {
    display: block;
    margin: 0 auto;
    width: 350px;
}

main {
    margin-top: 50px;
}
// signup.html.erb -----
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}